{% extends 'artists/base.html' %}

{% block content %}
<div class="main">
<h1>{{title}}</h1>
<form action="{% url 'addpage' %}" method="post" enctype="multipart/form-data" class="form-style-1">
    {% csrf_token %}
    <!--{{ form.as_p }}-->

    <div>{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p><label class="form-style-1" for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
        <div>{{f.errors}}</div>
    {% endfor %}



    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
</div>
{% endblock content %}